.add-button {
  background-color: #a8d3fe;
}

.next-button {
  background-color: #a8d3fe;
  width: 20%;
  align-self: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

h4 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

h5 {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.land-desc {
  font-size: 25px;
}

.box {
  display: flex;
  justify-content: center;
}

.checkbox-list {
  display: flex;
  justify-content: center;
}

.checkbox-item {
  color: black;
  margin: 25px;
}
